body{
    color: #40514E;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    color: #66BFBF;
    font-size: 600.5%;  /* 16px = 100% . So, 90px/16 = 562.5 */
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.8rem;
    font-weight: 400;
    padding-bottom: 10px;
}

h3{
    font-size: 175%;
    color: #11999E;
    margin-top:0;
    font-family: 'Monsteraatee', sans-serif;
}

p{
    width: 80%;
    font-size: 170%;
    line-height: 2;
    margin: auto;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: #11999E;
    font-family: 'Monsteraatee', sans-serif;
    margin: 15px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
}

.middle1-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

a.header-words:hover{
    color: #6bd6d1;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.col-md-4{
    width: 66.67%;
    float: left;
}

.nav-list{
    padding-top: 1em;
    padding-left: 0;
    float: right;
    position: relative;
    }

.nav-list li {
    display: block;
    float: left;
}

.nav-list li a {
    font-size: 150%;
    margin: 0 0 0 2em;
}

.intro{
    width: 30px;
    margin: auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.web-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.pen-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.python-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.copyright{
    color: #EAF6F6;
    font-size: 1em;
    padding: 20px 0;
}

.footer-link{
    font-size: 140%;
    color: #11999E;
    font-family: 'Monsteraatee', sans-serif;
    margin: 15px;
    text-decoration: none;
}

.top-cloud{
    position: absolute;
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 400px;

}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Sacramento', cursive;;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }